[Desktop Entry]
Encoding=UTF-8
Name=LOONIE
Comment=LOONIE P2P Cryptocurrency
Comment[fr]=LOONIE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LOONIE, eşten eşe kriptografik sanal para birimi
Exec=loonie-qt %u
Terminal=false
Type=Application
Icon=loonie128
MimeType=x-scheme-handler/loonie;
Categories=Office;Finance;
